.Name {
  padding: 20px 5%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: whitesmoke
}

.Introduction {
  height: 28%;
  padding: 30px 5%;
  background-color: whitesmoke;
}

.Introduction div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Introduction p {
  width: 40%;
  padding: 10px 50px 10px 0;
  text-align: center;
}

.Introduction img {
  width: 35%;
  height: 240px;
  float: right;
}

.Introduction h1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

@media (max-width: 1199px){
  .Name {
    font-size: 1.3rem;
  }

  .Introduction {
    height: 18%;
  }

  .Introduction img {
    height: 140px;
  }

  .Introduction div {
    margin: 0 auto;
    width: 100%;
  }

  .Container {
    width: 80%;
    margin: 0 auto;
  }

  .Container2 {
    width: 125%;
  }
}
