.Name {
  padding: 20px 5%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: whitesmoke
}

.Introduction {
  height: 28vh;
  padding: 20px 5%;
  background-color: whitesmoke;
}

.Introduction div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Introduction p {
  width: 40%;
  padding: 10px 50px;
  text-align: center;
}

.Introduction img {
  width: 35%;
  height: 240px;
  float: right;
}

.Introduction h1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}
