.Name {
  padding: 20px 5%;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: whitesmoke
}

.Introduction {
  height: 28%;
  padding: 30px 5%;
  background-color: whitesmoke;
}

.Introduction div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Introduction p {
  width: 40%;
  padding: 10px 50px 10px 0;
  text-align: center;
}

.Introduction img {
  width: 468px;
  height: 240px;
  float: right;
}


@media (max-width: 1650px){
  .Introduction img {
    width: 390px;
    height: 200px;
  }
}

@media (max-width: 1199px){
  .Name {
    font-size: 1.3rem;
  }

  .Introduction {
    height: 18%;
  }

  .Introduction img {
    width: 312px;
    height: 160px;
  }

  .Introduction div {
    margin: 0 auto;
    width: 100%;
  }

  .Container {
    width: 80%;
    margin: 0 auto;
  }

  .Container2 {
    width: 125%;
  }
}

@media (max-width: 750px){
  .Name {
    text-align: center;
    font-size: 1.2rem;
    padding: 50px 5% 20px 5%;
  }

  .Introduction div {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }

  .Introduction p {
    width: 80%;
    padding: 20px 0;
    text-align: center;
  }
}
