.ContentsContact {
  width: 95%;
  padding: 49px 0 50px 5%;
}

.ContentsContact img {
  width: 450px;
}

.ContentsContact h1 {
  font-size: 1.6rem;
  font-weight: 400;

}

.ContentsContact div {
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
}

.Column {
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
}

.Flex a {
  margin: 0 auto;
  height: 40px;
  width: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: whitesmoke;
  margin-top: 5px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid #afc3e1;
}

.Flex a:active,
.Flex a:hover {
  border-bottom: 2px solid #afc3e1;
}

@media (max-width: 750px) {
  .ContentsContact {
    width: 100vw;
    padding: 50px 0 50px 0;
  }

  .Flex a {
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .ContentsContact img {
    width: 300px;
  }

  .ContentsContact h1 {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
