.Info {
  margin-top: 180px;
  padding: 10px 0;
  width: 90%;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
}

.Info h1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.Info a {
  background: #fff;
  font-size: 1.2rem;
  margin: 10px 5px 0 5px;
  padding: 8px 10px 6px 10px;
  border-radius: 50%;
  color: black;
}

.Info a:hover,
.Info a:active {
  background: orange;
}

@media (max-width: 430px) {
  .Info {
    margin-top: 35%;
    width: 100%;
    height: 100vh;
    background: none;
  }

  .Info h1 {
    margin-bottom: 40px;
  }

  .Info a {
    font-size: 1.2rem;
  }
}

@media (max-width: 1199px) {
  .Info {
    margin-top: 0;
    width: 100%;
    height: 50%;
    background: 0;
  }

  .Flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Info h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .Info a {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    background: #fff;
    margin: 15px 0;
    padding: 8px 4px 0 5px;
    border-radius: 50%;
    color: black;
  }
}

@media (min-width: 1200px) and (max-width: 1365px) {
  .Flex {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .Info {
    height: 240px;
  }
}
