.Skills {
  height: 90%;
  padding: 20px 5%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.Skills h1 {
  padding: 10px 0 0 0;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
}

.Intro {
  margin-left: 0px;
  padding-left: 5%;
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: 3px solid whitesmoke;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
}

.Box {
  margin: 10px;
  width: 45%;
  height: 50%;
}

.Icons {
  font-size: 2rem;
  margin: 0 auto;
}

.Icons h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.Icons p {
  font-size: .95rem;
  margin-bottom: 15px;
}

.Arrange {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
}

.Arrange h2 {
  font-size: .9rem;
  font-weight: 500;
  text-align: left;
  margin: 0 0 0 25%;
}

.Battery {
  margin: 10px 0 35px 25%;
	position: relative;
	display: block;
	background: #c2d1e8;
	height: 15px;
  float: left;
  border-radius: 20px;
}

.Battery:before {
	content: "";
	display: block;
	background: transparent;
  border: 2px solid whitesmoke;
	margin: -7px;
	width: 350px;
	height: 25px;
	border-radius: 20px;
}

@media (max-width: 1199px){
  .Skills {
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .Skills h1 {
    padding: 0;
    font-size: 1.3rem;
  }

  .Intro {
    width: 100%;
    padding: 20px 0;
    border-left: none;
    border-top: 3px solid whitesmoke;
  }

  .Icons {
    font-size: 1.6rem;
  }

  .Icons h3 {
    font-size: .9rem;
    margin-bottom: 10px;
  }

  .Arrange {
    margin-left: 18%;
    margin-bottom: 40px;
  }

  .Arrange h2 {
    font-size: .8rem;
    margin: 20px 0 0 0;
  }

  .Battery {
    margin: 10px 0 0 0;
  	height: 10px;
  }

  .Battery:before {
  	margin: -6px;
  	height: 20px;
  }

}

@media (min-width: 850px) and (max-width: 1000px){
  .Arrange {
    margin-left: 24%;
    margin-bottom: 30px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1001px) and (max-width: 1199px){
  .Arrange {
    margin-left: 30%;
    margin-bottom: 30px;
    margin-bottom: 40px;
  }
}

.Char1 {
  animation: char1 5s;
  animation-fill-mode: forwards;
}

.Char2 {
  animation: char2 4.5s;
  animation-fill-mode: forwards;
}

.Char3 {
  animation: char3 3.5s;
  animation-fill-mode: forwards;
}

.Char4 {
  animation: char4 3s;
  animation-fill-mode: forwards;
}

@keyframes char1 {
 0% {
   width: 0;
 }
 100% {
   width: 340px;
 }
}


@keyframes char2 {
 0% {
   width: 0;
 }
 100% {
   width: 300px;
 }
}

@keyframes char3 {
 0% {
   width: 0;
 }
 100% {
   width: 240px;
 }
}

@keyframes char4 {
 0% {
   width: 0;
 }
 100% {
   width: 200px;
 }
}
