.ContentProjectItem {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ContentProjectItem div {
  display: flex;
  width: 40%;
  height: 200px;
  margin: 15px 0;
}

.Box {
  background: whitesmoke;
}

.ContentProjectItem img {
  width: 100%;
  height: 180px;
}

.ContentProjectItem a {
  background-color: yellow;
  width: 90%;
  margin: 10px 0 10px 10px;
  height: 180px;
}

.ContentProjectItem p {
  margin: 15px 20px;
}
